.App {
  text-align: center;
  background-color: #ecf0f3;
}

html {
  min-height: 100vh;
  position: relative;
  background-color: #ecf0f3;
  overflow-x: hidden;
}

body {
  width: 100vw;
  box-sizing: border-box;
}
